html, body {
  height: 100%;
  background-color: #e8e8e8;
  margin: 0; 
}

.homepage {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footerhome {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 11;
}

.headerhome {
  flex-shrink: 0;
  position: absolute;
  z-index: 10;
  right: 0;
  left: 0;
}

/* home.css */
#navbody {
  width: 300px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.041);
  align-items: center;
  justify-content: center;
  display: flex;
}

.ul {
  list-style: none;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0; /* เพิ่ม padding หากต้องการให้มีระยะห่าง */
}

.li {
  display: inline-block;
  transition: transform 0.2s, box-shadow 0.2s;
}

.radio {
  display: none;
}

.svg {
  width: 70px;
  height: 70px;
  opacity: 80%;
  cursor: pointer;
  padding: 13px 20px;
  transition: color 0.2s, transform 0.2s, box-shadow 0.2s;
  color: black;
}

.radio:checked + label .svg {
  color: rgb(235, 40, 176);
}

.svg:hover {
  color: rgb(235, 40, 176);
  transform: translateY(-5px); 
}

.container-input {
  position: relative;
  display: inline-block;
  padding-top: 20px;
}

.input {
  padding: 10px 10px 10px 40px; /* Added padding-left to make space for SVG */
  border-radius: 9999px;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 65%;
  left: 10px; /* Ensure the SVG is inside the input field */
  transform: translateY(-50%);
  pointer-events: none; /* Prevent interaction with SVG */
}

.input:focus {
  opacity: 1;
}

.map {
  position: relative;
  z-index: 0;
}

@media (min-width: 300px) {
  .input {
    width: 300px;
  }

  .input:focus {
    width: 350px;
  }
}

@media (min-width: 600px) {
  .input {
    width: 600px;
  }

  .input:focus {
    width: 700px;
  }
}