/* https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366 */

/* popup */
/* .leaflet-popup {
    position:absolute;
    text-align:center;
    pointer-events:none;
} */

.leaflet-popup-content-wrapper {
    @apply
    bg-gray-100 opacity-90
    text-sm
    border border-black

    /* padding:1px;
    text-align:left;
    pointer-events:all; */
}

/* .leaflet-popup-content {
    padding:10px 10px 15px;
    margin:0;
    line-height:inherit;
} */

/* .leaflet-popup-tip-container {
    width:20px;
    height:20px;
    margin:0 auto;
    position:relative;
} */

/* .leaflet-popup-tip {
    width:0;
    height:0;
    margin:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #fff;
    box-shadow: none;
} */

/* .leaflet-popup-close-button {
    text-indent:-999em;
    position:absolute;
    top:0;right:0;
    pointer-events:all;
} */

/* .leaflet-popup-close-button:hover {
    background-color:#f8f8f8;
} */

/* .leaflet-popup-scrolled {
    overflow:auto;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
} */